.desktop-sider {
  display: none;
  height: 100vh;
}

.mobile-drawer {
  display: block;
}
.site-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0rem 1rem;
}
.custom-drawer .ant-drawer-header {
  background-color: #001529; /* Dark theme background color */
  color: #ffffff; /* For dark theme, usually, the text color is set to white */
}
.custom-drawer .ant-drawer-header .ant-drawer-header-title button {
  color: #ffffff;
}
.custom-drawer .ant-drawer-title {
  color: #ffffff; /* Ensures the title text is also styled for dark theme */
}
.custom-drawer {
  background-color: #001529 !important;
}

@media (min-width: 769px) {
  .desktop-sider {
    display: block;
  }

  .mobile-drawer {
    display: none;
  }

  .drawer-logout-btn {
    display: block;
    width: 100% !important;
    max-width: 100%;
    margin: auto !important;
  }
}

@media (max-width: 769px) {
  .logout-btn {
    display: none;
  }
}
.logo {
  width: 100%;
}
.logo > a > img {
  width: 100%;
  max-width: 100%;
}
